<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RE14 Message Board</title>
    <meta name="author" content="Jeff Risberg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div id="content">{{{about}}}</div>
</body>
</html>
